@use 'font-styles';

html{
	scroll-behavior: smooth;
	font-family: Roboto;
	// background: url('../assets/my-pfoto/network-1.jpg');
	// background-blend-mode: color;
		
	// background-size: 100%;
	background: repeating-linear-gradient(to bottom left, rgba(108, 110, 121, 0.63), rgb(72, 75, 117),rgb(48, 48, 51));
	color: aliceblue;
}
.header {
	min-height: 100px;
	display: flex;
	align-items: center;
	// background: url('../assets/my-pfoto/network-1.jpg');
	// background-blend-mode: color;		
	// background-size: 100%;
	
	margin-bottom: 30px;
	
}
.container-nav {
	max-width: 1200px;
    margin: 0 auto;
	padding: 20px 20px 0;

}
.nav {
    display: flex;
	
		&__list {
            display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		&__item {
            list-style: none;
            margin-left: 20px;
		}

		&__link {
            text-decoration: none;
			color: aliceblue;
			font-size: 1.2rem;
		}
}
.burger {
	position: relative;
    width: 50px;
    height: 30px;
    margin-left: 30px;
    margin-top: 10px;
    z-index: 10;
	margin-left: auto;
    cursor: pointer;    
    display: none;
}
.burger::after,.burger::before{
	content: '';
	position: absolute;
	background-color: aliceblue;
	width: 100%;
	height: 3px;
}
.burger::before{
	bottom: 0;
}
.burger span{
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    height: 3px;
    top: 13px;
    right: 0;
    transition: 0.5s;
}

@media screen and (max-width: 768px){
	.burger {
	display: block;	
	}
	.container-nav{
		width: 100%;
		padding: 30px;
	}
	.nav{
		background: url('../assets/my-pfoto/network-1.jpg');
	background-blend-mode: color;		
	background-size: 100%;
	height: 100vh;
			&__list{
				flex-direction: column;
			}
		}
}

.main {

		&__header{
			display: flex;
			max-width: 1200px;
    		margin: 0 auto;
		}
    
}
.section {
    max-width: 1200px;
    margin: 0 auto;
	padding: 0 20px;
}
.section-photo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	max-width: 60%;
		&__wrapper{
			
		}	
		&__wrapper-title {
			
		}
}
.my-pfoto {
	width: 200px;
	margin-left: 200px;
	
}
.section-contacts {
		h2{
			margin: 20px auto;
			letter-spacing: 3px;
			color: rgb(60, 133, 57);
		}
		&__list {
			list-style: none;
			color: rgb(55, 192, 51);
			font-size: 1.2rem;
		}
		&__list li{
			margin-bottom: 20px;
		}
}
.titles2 {
}
.summary-text {
}
.section-hobby {

		&__list {
		}

		&__list-rest {
		}
}
.wrapper{
	// background: url('../assets/my-pfoto/communication.jpg');
	// background-blend-mode: color;
	// 	background-repeat: no-repeat;
	// 	background-size: 100%;
		
	}
	
	.section-skills {
		

			&__wrapp {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
					h2{
						
					}
				
			}
	}
	.titles2 {
	}
	.section-skills-wrapper {
		display: flex;
	
			&__list-left {
				list-style: none;
					li{
						display: flex;
						align-items: center;
						margin-bottom: 20px;
					}
				
			}
	
			&__list-right {
				list-style: none;
					li{
						display: flex;
						align-items: center;
						margin-bottom: 20px;
					}
			}
	}
	.icon-logo {
		width: 30px;
		height: 30px;
		margin-right: 20px;
	}
	.laptop {
		border-radius: 20px;
		margin: 0 20px;
		max-width: 300px;
	}
	.projects {
		
			&__list {
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
				overflow: hidden;
			}
	
			&__list-li {
				display: flex;
				flex-direction: column;
				width: 30%;
				height: 200px;
				
			}
			&__list-li a{
				position: relative;
				text-decoration: none;
			}
			&__list-li a p{
				position: absolute;
				color: aliceblue;
				top: 30%;
				left: 10%;
			}
			
			&__list-li-img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				opacity: 50%;
			}
	}
	
	
.section-code {
	// background: url('../assets/my-pfoto/164542.jpg'), rgba(0, 0, 0, 0.8);
	// background-blend-mode: color;
	// 	background-repeat: no-repeat;
	// 	background-size: 100%;

		&__title {
		}
}
.pre-code {

		&__text {
		}
}
.section-education {

		&__text {
		}
}
.section-languages {

		&__list {
		}
}
.container {
	max-width: 1200px;
    margin: 0 auto;
	padding: 0 20px 20px ;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
}
.footer {
	// background: url('../assets/my-pfoto/network-1.jpg');
	// background-blend-mode: color;		
	// background-size: 100%;
	
}
.github {
	margin-left: 30px;
	text-decoration: none;
	color: aliceblue;
}
